<br>
<div class="d-flex container-fluid justify-content-between">
  <div>
    <h3>
      <strong>
      My questions
      </strong>
    </h3>
  </div>
<!--  <div>
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#createqModal">Add question</button>
  </div>-->
</div>


<!--<div>
  <div>
    <h2>
      Add a new question
    </h2>

    <form action="/insert_question" method="post">
      <div>
        <label for="question_box">
          Question
        </label>

        <input type="text" id="question_box" name="query_question">
      </div>

      <div>
        <label for="answer_box">
          Answer
        </label>

        <input type="text" id="answer_box" name="query_answer">
      </div>

      <div>
        <label for="interview_id_box">
          Interview
        </label>

        <input type="text" id="interview_id_box" name="query_interview_id">
      </div>

      <button>
        Create question
      </button>
    </form>
  </div>
</div>-->

<hr>

<div>
  <div class="container-fluid">
    <table class="table table-hover">
      <tr class="table-primary">

        <th scope="col">
          Question
        </th>

        <th scope="col">
          Job Title
        </th>

        <th scope="col">
          Interview Type
        </th>

        <th scope="col">
        </th>
      </tr>

      <% @list_of_questions.each do |a_question| %>
      <tr>

        <td>
          <%= a_question.question %>
        </td>

        <td>
          <a href="/interviews/<%= a_question.interview.id %>">
          <%= a_question.interview.job_title %>
          </a>
        </td>

        <td>
          <%= a_question.interview.interview_type %>
        </td>

        <td>
          <a href="/questions/<%= a_question.id %>">
            See more
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
