<div>
  <div>
    <h1>
      Question #<%= @the_question.id %> details
    </h1>

    <div>
      <div>
        <a href="/questions">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_question/<%= @the_question.id %>">
          Delete question
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Question
      </dt>
      <dd>
        <%= @the_question.question %>
      </dd>

      <dt>
        Answer
      </dt>
      <dd>
        <%= @the_question.answer %>
      </dd>

      <dt>
        Interview
      </dt>
      <dd>
        <%= @the_question.interview_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_question.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_question.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit question
    </h2>

    <form action="/modify_question/<%= @the_question.id %>"  method="post" >
      <div>
        <label for="question_box">
          Question
        </label>

        <input type="text" id="question_box" name="query_question" value="<%= @the_question.question %>">
      </div>

      <div>
        <label for="answer_box">
          Answer
        </label>

        <input type="text" id="answer_box" name="query_answer" value="<%= @the_question.answer %>">
      </div>

      <div>
        <label for="interview_id_box">
          Interview
        </label>

        <input type="text" id="interview_id_box" name="query_interview_id" value="<%= @the_question.interview_id %>">
      </div>

      <button>
        Update question
      </button>
    </form>
  </div>
</div>

<hr>
