<br>
<div class="container-fluid">
    <div class="d-flex justify-content-between">
      <div>
        <h3>
          <strong>
          <%= @the_interview.job_title %>
          </strong>
        </h3>
      </div>

      <div>
          <a href="/delete_interview/<%= @the_interview.id %>">
            <button type="button" class="btn btn-secondary">Delete interview</button>
          </a>
      </div>
    </div>

    <div>
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#updateintModal">Edit</button>
    </div>    

    <br>
    <dl>
      <dt>
        Employer
      </dt>
      <dd>
        <%= @the_interview.employer %>
      </dd>
      <dt>
        Responsibilities
      </dt>
      <dd>
        <%= @the_interview.responsibilities %>
      </dd>

      <dt>
        Date
      </dt>
      <dd>
        <%= @the_interview.date %>
      </dd>

    </dl>
  </div>
</div>



<div class="modal fade bd-example-modal-lg" id="updateintModal" tabindex="-1" aria-labelledby="editinterview" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit interview</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      <form action="/modify_interview/<%= @the_interview.id %>" method="post">
        <div class="mb-3 form-group">
          <label for="job_title_box" class="col-sm-3 col-form-label">
            Job title
          </label>

          <input type="text" id="job_title_box" name="query_job_title" value="<%= @the_interview.job_title%>">
        </div>

        <div class="mb-3 form-group">
          <label for="employer_box" class="col-sm-3 col-form-label">
            Employer
          </label>

          <input type="text" id="employer_box" name="query_employer" value="<%= @the_interview.employer%>">
        </div>


        <div class="mb-3 form-group">
          <label for="responsibilities_box" class="form-label mt-4">
            Responsibilities
          </label>

          <textarea type="text" class="form-control" id="responsibilities_box" name="query_responsibilities"
            rows="3">
                 <%= @the_interview.responsibilities %>
            </textarea>
        </div>

        <div class="mb-3 form-group">
        <label for="type_box" class="col-sm-3 col-form-label">Interview Type</label>
        <select class="form-select" id="type_box" name="query_type" value="<%= @the_interview.interview_type%>">
          <option>Informational</option>
          <option>Screening or Telephone </option>
          <option>Small Group or Committee</option>
          <option>Behavioral-Based</option>
          <option>Task Oriented</option>
          <option>Other</option>
        </select>
        </div>

        <div class="mb-3 form-group">
          <label for="date_box" class="col-sm-3 col-form-label">
            Interview Date
          </label>

          <input type="date" id="date_box" name="query_date" value="<%= @the_interview.date%>">
        </div>

        <button class="btn btn-primary">
          Update interview
        </button>
      </form>

      </div>
    </div>
  </div>
</div>
<hr>

<div class="container-fluid">
  <div class="mb-3">
      <h5>
        <strong>
          Interview Questions
        </strong>
      </h5>
  </div>

  <table class="table table-hover mb-3">
      <tr class="table-primary">

        <th scope="col">
          Questions
        </th>

        <th scope="col">
        </th>
      </tr>

      <% @the_questions.each do |a_question| %>
      <tr>
        <td>
          <%= a_question.question %>
        </td>

        <td>
          <a href="/questions/<%= a_question.id %>">
            See more
          </a>
        </td>

      </tr>
      <% end %>
    </table>

</div>
